*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
  width: 100%;
  height: 100%;
  background-color: #fffffe;
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}



.flex {
  flex: 1;
}

#logo {
  white-space: nowrap;
  color: #666666;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
  pointer-events: none;
}

#logo span {
      color: #006AC3;
}

a, a:visited {
  color: #006AC3;
}

#editorApp {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2px 0;
}

#editorApp>nav {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: 40px;
  max-height: 2px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
  user-select: none;
}

#editorApp>nav * {
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

#editorApp>nav:hover{
  max-height: 100px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

#editorApp>nav:hover * {
  opacity: 1;
  pointer-events: inherit;
}

#editorApp>nav>button {
  border: 0;
  border-right: 1px solid #bdbdbd;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  outline: none;
}
#editorApp>nav>button:first-of-type {
  border-left: 1px solid #bdbdbd;
}
#console {
  border-top: 1px solid #bdbdbd;
}

#console pre {
  margin: 0;
}

#editorApp>nav>button.on {
  background: rgba(224, 224, 224, 0.8);
}

.btn-icon
{
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.externalPreview {
  display: inline-block;
}

.externalPreview>textarea {
  display: none;
}

.externalPreview>input {
  background-image: url('ic_open_in_new_black_24px.svg');
}

.font-plus {
  background-image: url('ic_zoom_in_black_24px.svg');
}

.font-minus {
  background-image: url('ic_zoom_out_black_24px.svg');
}

.clear {
  background-image: url('ic_clear_black_24px.svg');
  position: absolute;
  top: 0;
  right: 0;
}

.open-catalog {
  background-image: url('ic_folder_open_black_24px.svg');
}

.edit {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  overflow: hidden;
}

.edit>div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 20px;
}

.edit>div:last-child {
  flex: 1;
}

.edit>div>div {
  flex-grow: 1;
}

.handle {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  cursor: ew-resize;
  background-color: #bdbdbd;
  transition: background-color,width 0.2s;
}

.handle:hover {
  width: 3px;
  background-color: #607d8b;
}

.edit>div:last-child .handle,
.edit>div:only-child .handle {
  display: none;
}

iframe {
  border: 0;
  margin-left: 2px;
  pointer-events: none;
  flex: 1;
}

div:hover >  iframe {
  pointer-events: all;
}



#console {
  height: 200px;
  flex-grow: 0;
  overflow: auto;
  padding: 4px;
  position: relative;
}

.edit .monaco-editor,
.edit .monaco-editor-background,
.edit .monaco-editor .inputarea.ime-input  {
  background-color: #f7f7f7;
}

.edit .monaco-editor .margin {
  display: none;
}

.edit .focused.monaco-editor,
.edit .focused .monaco-editor-background,
.edit .focused.monaco-editor .inputarea.ime-input {
  background-color: #fffffe;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}


